body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 1rem;
	background-color: #FAE55C;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F0A546;
	box-shadow: 4px 4px 1px #D96E34;
	border-radius: 10px;
}

#btn-container {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
	border: 1px black solid;
	width: 50%;
}

button {
	background-color: #D9AB34;
	font-size: 1.5rem;
	border: none;
	border-radius: 30%;
	box-shadow: 3px 3px #D96E34;
	margin: 2%;
	transition: all 300ms;
}

button:hover {
	background-color: #FC573D;
}

.choice-btn:disabled {
	color: rgba(16, 16, 16, 1);
}

#pChoice-rock,
#pChoice-paper,
#pChoice-scissors,
#cChoice,
#cChoice-rock,
#cChoice-paper,
#cChoice-scissors {
	display: none;
}

.log
{
	background-color: #D96E34;
	margin: 1rem;
	padding: 1rem;
	min-width: 70%;
	border-radius: 10px;
}

.log p
{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	color: #ffef88;
}

.typed
{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 1.5s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

.animPhase2 {
	animation-delay: 1.5s;
}

.animPhase3 {
	animation-delay: 3s;
}

.animPhase4 {
	display: none;
	animation: fadeIn .5s ease;
	animation-delay: 9s;
}

@keyframes fadeIn {
	0% {display:none}
	100% {display:block}
}

.victory-text {
	background-color: #D96E34;
	text-align: center;
	font-size: 2rem;
}

