body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 1rem;
	background-color: #FAE55C;
}

main {
	display: flex;
	max-width: 80%;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
	background-color: #F0A546;
	box-shadow: 4px 4px 1px #D96E34;
	border-radius: 10px;
}

h1 {
	text-align: center;
}

#btn-container {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
	width: 80%;
}

button {
	background-color: #D9AB34;
	font-size: 1.5rem;
	border: none;
	border-radius: 30%;
	box-shadow: 3px 3px #663013;
	transition: transform 100ms, box-shadow 100ms;
}

button:hover {
	background-color: #FC573D;
}

button:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}

/* override default disabled styling because it's hard to see */
.choice-btn:disabled {
	color: rgba(16, 16, 16, 1);
}

.animPhase1,
.animPhase2,
.animPhase3,
.animPhase4 {
	display: none;
}

.log
{
	background-color: #663013;
	margin: 1rem;
	padding: 1rem;
	min-width: 80%;
	border-radius: 10px;
}

.log p
{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	color: #ffef88;
}

/* add a visual effect to emulate typing */
/* basically the text has 0 width and is expanded to 100% width over the course of 1.5s */
.typed
{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 1.5s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
}

/* referred to above */
@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

/* delay each line to make it look like the computer is thinking */
.animPhase2 {
	animation-delay: 1.5s;
}

.animPhase3 {
	animation-delay: 3s;
}

.results {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* fadeIn animation triggers as soon as display is set to block. because it is opacity 0 even after display is set to block it will be invisible, but it will be added to the document flow. after 5s the opacity is changed from 0 to 1 over the course of 3s */
.animPhase4 {
	margin: 1rem 0;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

.victory-text {
	background-color: #D96E34;
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	border-radius: 25%;
}

@media screen and (max-width: 500px) {
	#btn-container {
		flex-wrap: wrap;
		gap: 1rem;
	}
	.typed {
		white-space: pre-line;
	}
	
	
}

