body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 1rem;
	background-color: #CEF2CD;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #A4BFA3;
	box-shadow: 4px 4px 1px #4d674c;
	border-radius: 10px;
}

#btn-container {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
	border: 1px black solid;
	width: 50%;
}

button {
	background-color: #4d674c;
	font-size: 1.5rem;
	border: none;
	border-radius: 30%;
	box-shadow: 3px 3px #69a067;
	margin: 2%;
	transition: all 300ms;
}

button:hover {
	background-color: #69a067;
}

#pChoice-rock,
#pChoice-paper,
#pChoice-scissors,
#cChoice,
#cChoice-rock,
#cChoice-paper,
#cChoice-scissors {
	display: none;
}

.log
{
	background-color: #4d674c;
	margin: 1rem;
}

.log p
{
	margin: 0 1rem;
	font-family: 'Courier New', Courier, monospace;
	color: #CEF2CD;
}

.typed
{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 1.5s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

.animPhase2 {
	animation-delay: 1.5s;
}

.animPhase3 {
	animation-delay: 3s;
}

.animPhase4 {
	display: none;
	animation: fadeIn .5s ease;
	animation-delay: 9s;
}

@keyframes fadeIn {
	0% {display:none}
	100% {display:block}
}

